.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 48px;
  background-color: #000;
  z-index: 102;
}

.tabBtn {
  flex: 1;
}
.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
}
.text {
  color: #898989;
  font-weight: 200;
}
.textFocused {
  color: #fff;
  font-weight: 400;
}
