.container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  padding: 20px 0px;
}
.contentBox {
  padding: 20px 20px;
}
.titleBox {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.titleWrap {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
}

@-webkit-keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.loadingItem {
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}
