.container {
  display: flex;
  flex-direction: column;
  padding: 48px 20px;
}
.contentsCountBox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.contentsCount {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.contentsText {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
}
