.container {
  position: absolute;
  height: 150px;
  bottom: 48px;
  display: flex;
  right: calc(50% - 300px);
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .container {
    right: 10px;
  }
}
.floatingWrap {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
}
.btnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
}
.floatingBtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: rgba(224, 224, 224, 0.4);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnWrap:hover {
  .floatingBtn {
    background-color: rgba(224, 224, 224, 0.5);
  }
}
.text {
  color: #fff;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
}

@media (min-width: 600px) {
  .container {
    height: 200px;
  }
  .floatingBtn {
    width: 62px;
    height: 62px;
  }
  .text {
    font-size: 18px;
  }
}
